---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog">
  <h1>Blog</h1>
  <h2>Posts:</h2>
  <ul>
    <li><a href=`${import.meta.env.BASE_URL}/blog/post-1/`>Post 1</a></li>
  </ul>
</BaseLayout>
