---
import Social from "./Social.astro";
---

<footer class="main-block">
  <ul class="icons">
    <li>
      <Social hostname="github.com" pathname="deciob" icon="github-mark.png" />
    </li>
  </ul>
</footer>
