---
import BaseLayout from "../../layouts/BaseLayout.astro";


// Gallery.astro
import { getCollection } from "astro:content";

import { getImageUrl } from "../../lib/gallery-helpers.ts";

// Get all gallery items
const galleryItems = await getCollection("gallery");
---

<BaseLayout title="Portfolio">
  <h1>Portfolio</h1>
  <div class="gallery-grid">
    {
      galleryItems.map((item) => (
        <div class="gallery-item">
      <!-- The HTML below indicates that the thumbnails-small image resource, contained within the src attribute should be used for 1x displays, and that a thumbnails-large version (contained within the srcset, and assigned a 2x descriptor) should be used for 2x displays. -->
            <img
              src={getImageUrl(item.data.filename, "thumbnails-small", import.meta.env.BASE_URL)}
              alt={item.data.alt}
              srcset=`${getImageUrl(item.data.filename, "thumbnails-large", import.meta.env.BASE_URL)} 2x`
            />
        </div>
      ))
    }
  </div>
</BaseLayout>
